<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="">PORTFOLIO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/about">ABOUT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/project">PROJECTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/contact">CONTACT ME</a>
            </li>
          </ul>
          <span class="navbar-text">
           ADITI AGARWAL 
          </span>
        </div>
      </div>
    </nav>
    
      <div class="container">
        <h2 class="text-center"> Contact Me</h2>
        <form action="/contact" method="post">
          {% csrf_token %}
            <div class="mb-3">
              <label for="name" class="Name">Name</label>
              <input type="text" class="form-control" id="name">
              <div id="name" name="name" class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="email" class="Email">Email</label>
              <input type="email" class="form-control" id="email">
              <div id="email" name="email" class="form-text"></div>
            </div> 
            <div class="mb-3">
              <label for="msg" class="msg">Your Message</label>
              <input type="text" class="form-control" id="msg">
              <div id="msg" name="msg" class="form-text">We'll never share your details with anyone else.</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>